{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
  "ecmaFeatures": {
    "jsx": false,
    "modules": true
  }
  },
  "globals": {
    "d3": true
  },
  "rules": {
    "class-methods-use-this": 1,
    "no-plusplus": 0
  }
}
