{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
  "ecmaFeatures": {
    "jsx": false,
    "modules": true
  }
  },
  "globals": {
    "d3": true
  },
  "rules": {
    "class-methods-use-this": 1,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "new-cap": 0,
    "padded-blocks": 0,
    "no-mixed-operators": 0,
    "max-len": 0,
    "wrap-iife": 0
  }
}
